<div class="card" style="max-width: 80rem; min-height: 30rem">
    <h5 class="card-header card--header--title">All Assignments 
        <%= link_to 'Back', courses_path, class:"btn btn--primary2--header--button" %>
        <% if current_user.administrator == true || current_user.teacher == true %>
            <%= link_to 'New Assignment', assignment_creation_path(), class:"btn btn--primary2--header--button"  %>
        <% end %>
    </h5>
    <div class="card-body">
    <h5>Essays</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Name</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Grade</th>
                    </tr>
                </thead>

                <tbody>
                    <%@essays.each do |essay| %>
                        <tr>
                            <% if current_user.administrator == true || current_user.teacher == true %>
                                <% @current_essay = essay %>
                                <td><%= link_to essay.name, index_for_essay_path(@current_essay) %></td>
                                <td><%= essay.deadline %></td>
                                <% if Time.parse(@current_date.to_s) > Time.parse(essay.deadline.to_s) %>
                                    <td><b>Overdue</b></td>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <td></td>
                            <% else %>
                                <% @essay_solution = EssaySolution.find_by_essay_id_and_student_id(essay.id, current_user.id) %>
                                <td><%= link_to essay.name, edit_essay_solution_path(@essay_solution) %></td>
                                <td><%= essay.deadline %></td>
                                <% if @essay_solution.submit_time != nil %>
                                    <td>Submitted</td>
                                <% elsif Time.parse(@current_date.to_s) > Time.parse(essay.deadline.to_s) %>
                                    <td><b>Overdue</b></td>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <td></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <br /><br />
        <h5>Quizes</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Name</th>
                        <th>Due Date</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <%@quizes.each do |quiz| %>
                        <tr>
                            <% if current_user.administrator == true || current_user.teacher == true %>
                                <% @current_quiz = quiz %>
                                <td><%= link_to quiz.name, quiz %></td>
                                <td><%= quiz.deadline %></td>
                                <% if Time.parse(@current_date.to_s) > Time.parse(quiz.deadline.to_s) %>
                                    <td><b>Overdue</b></td>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <td><%= QuizSolution.find_by_student_id_and_quize_id(current_user.id, quiz.id).grade %></td>
                            <% else %>
                                <td><%= link_to quiz.name, quiz %></td>
                                <td><%= quiz.deadline %></td>
                                <%# if @essay_solution.submit_time != nil %>
                                    <!--<td>Submitted</td>-->
                                <% if Time.parse(@current_date.to_s) > Time.parse(quiz.deadline.to_s) %>
                                    <td><b>Overdue</b></td>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <td><%= QuizSolution.find_by_student_id_and_quize_id(current_user.id, quiz.id).grade %></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        
    </div>
</div>