<%= form_with(model: users_assignment) do |form| %>
  <% if users_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_assignment.errors.count, "error") %> prohibited this users_assignment from being saved:</h2>

      <ul>
        <% users_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :assignment_id %>
    <%= form.number_field :assignment_id %>
  </div>

  <div class="field">
    <%= form.label :is_turned_in %>
    <%= form.check_box :is_turned_in %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
