<p id="notice"><%= notice %></p>

<h1>Users Assignments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Assignment</th>
      <th>Is turned in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_assignments.each do |users_assignment| %>
      <tr>
        <td><%= users_assignment.user_id %></td>
        <td><%= users_assignment.assignment_id %></td>
        <td><%= users_assignment.is_turned_in %></td>
        <td><%= link_to 'Show', users_assignment %></td>
        <td><%= link_to 'Edit', edit_users_assignment_path(users_assignment) %></td>
        <td><%= link_to 'Destroy', users_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Assignment', new_users_assignment_path %>
