<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_assignment.user_id %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @users_assignment.assignment_id %>
</p>

<p>
  <strong>Is turned in:</strong>
  <%= @users_assignment.is_turned_in %>
</p>

<%= link_to 'Edit', edit_users_assignment_path(@users_assignment) %> |
<%= link_to 'Back', users_assignments_path %>
