<div class="container-fluid font-georgia">
	<div class="row main-content bg-success text-center">
		<div class="col-md-4 text-center company__info">
			<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
			<h4 class="company_title title--font">neptune</h4>
		</div>
		
		<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
			<div class="container-fluid">
				<div class="row">
					<h2><b><br/>Log In</b></h2>
				</div>
					
				<%= nested_form_for([resource_name, resource.with_school], url: session_path(resource_name)) do |f| %>
					<br /><img src="https://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" width="10%" height="10%">
					<div class="row form-group form__input">
						
						<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "space--field form-control search-input" %>
						<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "space--field form-control search-input" %>
					</div>

					<img src="https://media.istockphoto.com/vectors/book-and-student-hat-education-icon-vector-vector-id618642436?k=6&m=618642436&s=170667a&w=0&h=t-ovfI2NR37BZNlO9e6r8bG9boupowRYYuIuZ5ZKcN0=" width="10%" height="10%">
					
					<%= f.fields_for :school do |school_form| %>
						<div id= "search-data" class="form-search search-data row form-group form__input" data-schools="<%= @schools.to_json %>">
							<%= school_form.text_field :name, as: :search, data: {autocomplete_source: user_session_path}, class: "space--field form-control search-input", placeholder: "School Name" %>
						</div>
					<% end %>

					<% if devise_mapping.rememberable? %>
						<div class="field">
						<%= f.check_box :remember_me %>
						<%= f.label :remember_me %>
						</div>
					<% end %>

					<div class="actions">
						<%= f.submit "Log in", class: "btn btn-primary {color: #008080}" %>
					</div>
				<% end %>

				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>


<%= form_tag "/users" do %>
            <% @contor.to_i.times do %> 
                        <!--<div class="row form-group form__input">-->
                        <%= text_field_tag "users[][first_name]", placeholder: "First Name" %><br />
                        <%#= text_field_tag :last_name %>
                        <%#= text_field_tag :email %>
                        <!--</div>-->
            <% end %>

            <% if @contor.to_i > 0 %>    
                <div class="actions">
                <%#= submit_tag "Save", class: "btn btn--primary2" %>
                    <%= link_to 'Save', home_dashboard_path, class:"btn btn--primary2" %>
                </div>
            <% end %>
            
<% end %>