<%= form_with(model: quiz_question) do |form| %>
  <% if quiz_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz_question.errors.count, "error") %> prohibited this quiz_question from being saved:</h2>

      <ul>
        <% quiz_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field--space">
    <b><%= form.label "Question: " %></b>
    <%= form.text_field :question %>
  </div>

  <div>
    <b><%= form.label "Type: " %></b><br />
    <%= form.select :answer_type, @types.to_a, {}, {class: "form-select form-select-md mb-3 form--select--type"} %>
  </div>

  <div class="field field--space">
    <b><%= form.label "Points: " %></b>
    <%= form.text_field :points %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn--primary2--res" %>
  </div>
<% end %>
