<nav class="navbar_ navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <div class="sidebar-header">
      <div class="sidebar-brand">
        <%= link_to "neptune", home_dashboard_path, class:"brand--font" %>
      </div>
    </div>

    <li>
        <%= link_to "Dashboard", home_dashboard_path, class:"sidebar--item--design" %>
    </li>
    
    <% if current_user.administrator == true %>
      <li><%= link_to "Courses", courses_path, class:"sidebar--item--design" %></li>
      <li><%= link_to "All Users", home_show_users_path, class:"sidebar--item--design" %></li>
      <li class="dropdown">
        <a class="dropdown-toggle sidebar--item--design" href="#" data-bs-toggle="dropdown" id="dropLink" aria-expanded="false">Add User<span class="caret"></span></a>
        
        <ul class="dropdown-menu" aria-labelledby="dropLink">
          <li><%= link_to 'Add Manually', users_adding_add_users_manually_path, class:"dropdown-item" %></li>
          <li><%= link_to 'Add From File', users_adding_add_users_from_file_path, class:"dropdown-item" %></li>
        </ul>
      </li>
      <li><%= link_to "Grades", root_path, class:"sidebar--item--design" %></li>
    <% end %>
  </ul>
</nav>