<div class="card" style="max-width: 80rem; min-height: 30rem">
  <h5 class="card-header card--header--title"><%= Essay.find(params[:id]).name %>
    <%= link_to 'Back', assignments_show_path(), class:"btn btn--primary2--header--button" %>
  </h5>

  <div class="card-body">
    <h5>Essays</h5>
    <div class="table-responsive">
      <table class="table">
          <thead class="table">
            <tr>
              <th>Student</th>
              <th>Solution</th>
              <th>Grade</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @essay_solutions_for_essay.each do |essay_solution| %>
              <tr>
                <% user = User.find(essay_solution.student_id) %>
                <td><%= user.first_name  + " " + user.last_name %></td>
                <td><%= link_to 'See', edit_essay_solution_path(essay_solution) %></td>
                <td><%= essay_solution.grade %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
