<p id="notice"><%= notice %></p>
<div class="card" style="max-width: 80rem; min-height: 30rem">
    <h5 class="card-header card--header--title">Add Users Manually</h5>
    <div class="card-body">
        <!--<p class="card--text"><br />How many users do you want to add? <br /></p>-->
        <!--
        <%#= form_with(url: users_adding_add_users_manually_path(@nr), method: :get, local: true) do |form| %>
            <%#= form.select :number, @nr.to_a, {}, {class: "form-select form-select-md mb-3 form--select"} %>
            <%#= form.submit "Choose", class: "btn btn--primary2" %>
        <%# end %>
        -->

        <p class="card--text">Complete the following fields with the user's details</p>
        <%= form_with(url: users_adding_save_users_path(), method: :get, local: true) do |f| %>
            <div class="container">
                <%= f.label "First Name: " %>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", placeholder: "First Name", class: "space--field" %><br />
                <%= f.label "Last Name: " %>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", placeholder: "Last Name", class: "space--field" %><br />
                <%= f.label "Email Address: " %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "space--field" %><br />

                <b><%= f.label "Choose de user's role(s):" %></b><br />
                <%= f.label "Administrator: " %>
                <%= f.check_box :administrator %><br />
                <%= f.label "Teacher: " %>
                <%= f.check_box :teacher %><br />
                <%= f.label "Student: " %>
                <%= f.check_box :student %><br />
            </div>
            
            
            <%= submit_tag "Save", class: "btn btn--primary2" %>
            <%= link_to 'Cancel', home_dashboard_path, class:"btn btn--primary2" %>
        <% end %>

    </div>
</div>