<%= form_with(model: quize) do |form| %>
  <% if quize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quize.errors.count, "error") %> prohibited this quize from being saved:</h2>

      <ul>
        <% quize.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field space--field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field space--field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field space--field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn--primary2--res--right" %>
  </div>
<% end %>
