<%= form_with(model: resource) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="my_form">
    <br />
    <div class="field space--field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <button class="btn btn--primary2--res" type="button" onclick="files(event)">Upload Resources</button>

      <p></p>
      <%= form.hidden_field :url, id:"hidden_input_files" %>
    </div>
  </div>
  
  <div class="actions">
    <%= form.submit class:"btn btn--primary2--res--right" %>
  </div>
<% end %>

<script>
  /*function files(){
    event.preventDefault();
    filepicker.setKey('A00aKRuy5Sj2VJTCVm8Koz');
          
    filepicker.pickMultiple(
      {
        mimetype: ['image/*', 'text/*'],
        maxFiles: 3
      },
      function(Blobs){
        var my_blobs = [];
        for(var i = 0; i < Blobs.length; i++){
          my_blobs.push(Blobs[i].url);
          $("#hidden_input_files").val(my_blobs);
          $( "#my_form" ).append( '<p><span class="glyphicon glyphicon-file"></span><b>' + Blobs[i].filename + '</b></p>'  );
        }
      },
      function(error){}
    );
  }*/

  function files(event){
    event.preventDefault();
    var file_key = "A00aKRuy5Sj2VJTCVm8Koz";
    filepicker.setKey(file_key);
          
    filepicker.pick(
      {
        mimetype: ['text/*', 'image/*'],
        container: 'modal',
        services: ['COMPUTER', 'URL']
      },
      function(Blob){
        $("#hidden_input_files").val(Blob.url);
        $( "#my_form" ).append( '<p><span class="glyphicon glyphicon-file"></span><b>' + Blob.filename + '</b></p>'  );
      },
      function(FPError){}
    );
  }
</script>
