<div class="card" style="max-width: 80rem; min-height: 30rem">
    <h5 class="card-header card--header--title">All Users 
        <%= link_to 'Back', courses_path, class:"btn btn--primary2" %>
        <%= link_to 'Add User', courses_add_user_path(@course), class:"btn btn--primary2--add"  %>
    </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Administrator</th>
                        <th>Teacher</th>
                        <th>Student</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.administrator %></td>
                        <td><%= user.teacher %></td>
                        <td><%= user.student %></td>
                        <td><%= link_to 'Add To Course', courses_add_user_to_course_path(user) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>