<div class="container-fluid font-georgia">
	<div class="row main-content bg-success text-center">
		<div class="col-md-4 text-center company__info">
			<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
			<h4 class="company_title title--font">neptune</h4>
		</div>
		
		<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
			<div class="container-fluid">
        <div class="row">
					<h2><b><br/>Sign up</b></h2>
				</div>
					
				<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%#= render "devise/shared/error_messages", resource: resource %>
          <b><u><h3>School</h3></u></b>
          
          <%= nested_form_for([resource_name, resource.with_school], url: registration_path(resource_name)) do |f| %>
            <%= f.fields_for :school do |school_form| %>
              <div class="row form-group form__input">
                <%= school_form.text_field :name, placeholder: "Name", class: "space--field" %><br />
                <%= school_form.text_field :subdomain, placeholder: "Subdomain", class: "space--field" %>
              </div>
            <% end %>

              <b><u><h3><br />Administrator</h3></u></b>
              <div class="row form-group form__input">
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First Name", class: "space--field" %>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last Name", class: "space--field" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "space--field" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "space--field", placeholder: "Password (6 characters minimum)" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "space--field" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class: "btn btn-primary {color: #008080}" %>
              </div>
          <% end %>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>